* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
    
  }
  
  a {
    text-decoration: none;
  }

header{
    background-color: rgba(34, 49, 52, 0.9);
    height: 80px;
}
.container-header {
    height: 60px;
    margin: 0 20px;
    padding: 10px;
}

.header{
    text-align:center;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
}
.navbar-Home{
  height: 15px;
  width: 15px;
  display: inline;
  margin: 10px;
  padding: 10px;
}
.navbar-About{
  height: 15px;
  width: 15px;
  display: inline;
  margin: 10px;
  padding: 10px;
}
.navbar-Experience{
  height: 15px;
  width: 15px;
  display: inline;
  margin: 10px;
  padding: 10px;
}
.navbar-Contact{
  height: 15px;
  width: 15px;
  display: inline;
  margin: 10px;
  padding: 10px;
}
.header a{
  color:aliceblue;
}
.Home{
  height: 600px;
  background-color: #272935;
}
.container-Home{
  margin-right:30px;
  margin-left: 30px;
}
.profile{
  padding:25px 25px;
  text-align: center;
}
h1{
  font-family:'Times New Roman', Times, serif;
}
.profile-title h1{
  color: #fff;
  font-size:60px;
  font-weight: 500;
  margin: 20px 0 10px;
}
h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile-title h2{
  color:rgba(255,255,255,.54);
  font-size: 25px;
  font-weight: 300px;
}
h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.profile-title h3{
  color: #03afff;
  cursor: pointer;
  font-weight:300px;
}


